table {
    margin-left: 10px;
}

tr:hover {
    background-color: lightblue;
}

td {
    width: 50px;
    font-size: 30px;
    border: 5px solid rgb(5, 122, 161);
    padding: 5px 10px;
}

input {
    font-size: 30px;
    width: 200px;
    height: 70px;
    color: green;
    padding: 0px 10px;
    margin-left: 10px;
}

button {
    width: 60px;
    height: 50px;
}

h1,
h3,
h4 {
    margin-left: 10px;
}